{% extends "base.html" %}

{% block content %}
<h1 align="center">Tambov bookcrossing</h1>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить объявление</a>
{% endif %}
{% for item in ads%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        Автор: {{item.author}}
    </div>
    <div>
        Жанр: {{item.genre}}
    </div>
    <div>
        О книге:
        {{item.about}}
    </div>
    <div>
        Издатель: {{item.publisher}}
    </div>
    <div>
        Год издания: {{item.year}}
    </div>
    <div>
        Разместил: {{item.user.name}}
    </div>
    <div>
        E-mail {{item.user.email}}
    </div>
    <div>
        {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}